/* IMAGENES CERTIFICADOS */
.modal-content {
    background-color: transparent;
}
.modal-container.activado{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
.modal-container img{
    z-index: 100;
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
}
.modal-container.activado::after{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70 );
    z-index: 0;
}
.botonCerrar {
    cursor: pointer;
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: 0;
}
/* FIN SECCION IMAGENES CERTIFICADOS */

/* CONTACTO */
.modalCaja{
    background: #242026;
    box-shadow: 5px 5px 35px #0379D6;
    border-radius: 10px;
    margin-top: 5%;
}
.modal-caja{
    display: flex;
    flex-direction: row;
}
.modal-body{
    height: 100%;
}
.modal-contacto h1, .modal-contacto p{
    color: #fff;
}
.modal-contacto h1{
    margin-bottom: 40px;
}
.modal-contacto h6{
    margin-bottom: 40px;
}
.modal-caja form{
    color: #0379D6;
}
.modal-contacto h3, .modal-contacto h6{
    color: #0379D6;
}
.modal-contacto{
    padding: 20px 40px;
}
.listaSkills-modal{
    list-style: none;
}
.listaSkills-modal li{
    display: inline;
    padding-right: 20px;
}
.listaSkills-modal li img{
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 576px){
    .modal-caja{
        display: block;
    }
}
/* FIN CONTACTO */
